{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello!</h1>
    <p>I created this website when I heard (and felt often myself) how difficult picking a movie or show to watch.</p>
    <p>I am using a dataset that can be found <a href="https://www.kaggle.com/shivamb/netflix-shows">here</a> and use the open movie database api <a href="http://www.omdbapi.com/">(OMDb)</a>
     to fill in other important information that the dataset was missing.</p>
</div>
{% endblock %}