{% extends 'base.html'%}

{% block head %}
{% endblock %}

{% block body %}
{% if movie %}
<div class="card" style="width:300px; margin:0 auto;">
    <img src={{movie.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{movie.title}}</h5>
      <p class="card-text">{{movie.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Category: {{movie.category}}</li>
      <li class="list-group-item">Rating: {{movie.rating}}</li>
      <li class="list-group-item">Release Year: {{movie.release_year}}</li>
      <li class="list-group-item">IMDB Rating: {{movie.imdb}}</li>
    </ul>
    <div class="card-body">
      <a href="https://www.netflix.com/watch/{{movie.id}}" class="card-link">Watch Now</a>
      <a href="{{url_for('select_random')}}" class="card-link">Give Me Another!</a>
    </div>
  </div>
  {% endif %}
{% endblock %}