{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}

<!-- {% if number_of_movies %}
<div class="form">
    <input type="text" name="content" id="content">
    <input type="submit" value="Check Number">
</div>
{% else %}
<div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
{% endif %} -->
<!-- <div class="form">
    <form action="/my_pool" method="POST">
        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" name="movies" id="movies">
              <option>1</option>
            </select>
            <input type="submit" value="Submit Pool">
          </div>
    </form>
</div> -->
{% endblock %}